<div>
	<div class="modal-body" >
	
			<div id="budget"><br/>
	
	
				<form class="form-horizontal" role="form">
							<label class="col-sm-2 control-label">Objectif/Enjeu</label>
							<div class="col-sm-9">
								<input ng-model="enjeu" type="text" class="form-control" placeholder="Nom Objectif/Enjeu">
							</div>
				</form>
		</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok(enjeu)">Ajouter</button>
			<button class="btn btn-danger" ng-click="cancel()">Annuler</button>
		</div>
</div>