<h1 ng-show="donneeUtilisateur.role_utilisateur==1 ">Utilisateurs</h1>
 
 <div href="#/utilisateurs" ng-show="aj" class="alert alert-success">
    			<a class="close" data-dismiss="alert">&times;</a>
    			<span class="glyphicon glyphicon-ok"></span> Le nouvel utilisateur a &eacute;t&eacute; ajout&eacute; !
</div>

<div href="#/utilisateurs" ng-show="del" class="alert alert-success">
    			<a class="close" data-dismiss="alert">&times;</a>
    			<span class="glyphicon glyphicon-ok"></span> L'utilisateur a &eacute;t&eacute; supprim&eacute !
</div> 
<div href="#/utilisateurs" ng-show="mod" class="alert alert-success">
    			<a class="close" data-dismiss="alert">&times;</a>
    			<span class="glyphicon glyphicon-ok"></span> Modification enregistr&eacute;
</div>

<table ng-show="donneeUtilisateur.role_utilisateur==1 " class="table table-striped table-hover">
      <thead>
        <tr>
        <td>
     	 	<input class="form-control input-sm" ng-model="utilisateur.prenom_utilisateur" type="texte" placeholder="Prénom">
     	 </td>
     	<td>
     	 	<input class="form-control input-sm" ng-model="utilisateur.nom_utilisateur" type="texte" placeholder="Nom">
     	 </td>
     	 <td>
  			 <input class="form-control input-sm" ng-model="utilisateur.login_utilisateur" type="texte" placeholder="Identifiant">
     	 </td>
     	  <td>
     	   <select class="form-control" ng-model="utilisateur.role_utilisateur" >
       				<option value="">Selectionner un rôle</option> 
       				<option value="1">Chef de projet</option>        				
       				<option value="2">Responsable de fiche action</option> 
       				<option value="3">Visiteur</option> 
    		</select>
  		 </td>
  		 <td/>
  		 <td/>
  		 <td/>
  		 <td>
  		 <button type="button" class="btn btn-primary pull-right" ng-click="ajouterUtilisateurModal()">
  		 	<span class="glyphicon glyphicon-plus"></span> Ajouter un utilisateur
  		 </button>
  		 </td>
  		 </tr>
      
        <tr>
       	  <th style="cursor:pointer;" href="" ng-click="changerTri('prenom_utilisateur')">Prénom 
        	  <span ng-show="sort== 'prenom_utilisateur' && !reverse"  class="glyphicon glyphicon-chevron-up"/> 
        	  <span ng-show="sort== 'prenom_utilisateur' && reverse"  class="glyphicon glyphicon-chevron-down"/>
        	  <span ng-show="sort != 'prenom_utilisateur'"/>
       	  </th>
          <th style="cursor:pointer;"  href="" ng-click="changerTri('nom_utilisateur')">Nom
	          <span ng-show="sort== 'nom_utilisateur' && !reverse"  class="glyphicon glyphicon-chevron-up"/> 
	          <span ng-show="sort== 'nom_utilisateur' && reverse"  class="glyphicon glyphicon-chevron-down"/>
	       	  <span ng-show="sort != 'nom_utilisateur'"/>
          </th>
          <th style="cursor:pointer;"  href="" ng-click="changerTri('login_utilisateur')">Identifiant
	          <span ng-show="sort== 'login_utilisateur' && !reverse"  class="glyphicon glyphicon-chevron-up"/> 
	          <span ng-show="sort== 'login_utilisateur' && reverse"  class="glyphicon glyphicon-chevron-down"/>
	       	  <span ng-show="sort != 'login_utilisateur'"/>
          </th>
          <th>Rôle</th>
          <th/>
          <th/>
          <th/>
        </tr>
      
      </thead>
      <tbody>
        <tr ng-repeat="utilisateur in listeUtilisateurs | filter:utilisateur | orderBy:'id':reverse=true">
          <td>{{utilisateur.prenom_utilisateur}}  </td>
          <td>{{utilisateur.nom_utilisateur}}</td>
          <td>{{utilisateur.login_utilisateur}}</td>
          <td>{{getRoleUtilisateur(utilisateur.role_utilisateur)}}</td>
       	  <td>
            <span class="associe-action"></span>
            <span ng-show="utilisateur.role_utilisateur==1 || utilisateur.role_utilisateur==2" style="cursor:pointer;" class="glyphicon glyphicon-eye-open addtips" ng-click="associer(utilisateur)" data-placement="top" title="Voir les actions affect&eacute;es &agrave; cet utilisateur"></span>            
          <td>
          	<span style="cursor:pointer;" class="glyphicon glyphicon-pencil addtips" ng-click="modifierUtilisateurModal(utilisateur)" data-placement="top" title="Modifier les informations de cet utilisateur"></span>
		  </td>      
          <td>
			<span style="cursor:pointer;" class="glyphicon glyphicon-refresh addtips" ng-click="reinitialiserMotdepasse(utilisateur)" data-placement="top" title="R&eacute;initialiser le mot de passe de cet utilisateur"></span> 
		  </td>
          <td>
		  	<span style="cursor:pointer;" class="glyphicon glyphicon-trash addtips" ng-click="open(utilisateur)" data-placement="top" title="Supprimer cet utilisateur"></span>
		  </td>
       
      </tbody> 
</table>
